.btn{
    color: white;
    background: $colors-gradient;
    padding: 1rem;
    border-radius: $bd-rad + 10;
    @include btn-shadow(btn-normal);
    &:hover {
        opacity: 0.8;
        @include btn-shadow(btn-hover);
    }
}