
.fas {
    margin: 1rem;
}

.list__item > .fas {
    margin: 0rem 0.7rem 0rem 0rem;
}

.instructions__item > .fas {
    color: $grey-icons;
}
.fa-mobile-alt {
    font-size: 1.4rem;
}
.fa-list-ul {
    font-size: 1.2rem;
}

.fa-utensils {
    font-size: 0.9rem;
}
.fa-hands-helping {
    font-size: 0.7rem;
}