body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
  
h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

.heading__title{
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 1.8rem;
}