.footer {
  background: map-get($map: $bg-greys, $key: dark);
  color: white;
  margin: auto -0.5rem -1rem -1rem;
  padding: 0.5rem 0rem 1rem 1.5rem;
  &__heading {
    margin-bottom: 1.3rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    @include breakpoints(desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      width: 90%;
    }
    & > .list__item {
      margin: 0.7rem 0rem;
      margin-block-start: 0rem;
      font-size: 15px;
    }
  }
}
